
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cousine:400,700);

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

ws-methods {
    flex: 1;
    max-width: 300px;
    background-color: #193246;
    color: #f0f8ff;
    padding: 1em;
    overflow: scroll;
}

body {
    background-color: #778899;
    display: flex;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

div#loading {
    flex: 1;
    font-size: 2em;
    text-align: center;
    padding-top: 4em;
}

ng-view {
    flex: 2;
    height: 100%;
    display: flex;
}

#ng-view-in {
    background-color: #f0f8ff;
    margin-left: 4px;
    padding: 1em;
    flex: 1;
}